googleMap
[{"id":"c620247f.4f9d38","type":"subflow","name":"Subflow 1","info":"","in":[{"x":160,"y":320,"wires":[{"id":"465936e9.283b78"}]}],"out":[{"x":800,"y":320,"wires":[{"id":"465936e9.283b78","port":0}]}]},{"id":"465936e9.283b78","type":"function","z":"c620247f.4f9d38","name":"Process Map Requests","func":"var locations = global.get(\"gmapsLocations\");\nif ( typeof(locations) === \"undefined\" || locations === null ) {\n   // node.send({\"payload2\":locations});\n    locations = {\"markerData\":[]};\n    //locations = {\"markerData\":msg.payload.markerData};\n    global.set(\"gmapsLocations\",locations); \n}\n//node.send({\"payload1\":locations});\n\n// if a request for removal of all markers then undertake only this command\n//if (typeof(msg.payload.command)!== \"undefined\") {\nif (msg.payload.command){\n    if (msg.payload.command.removeMarkers === true) {\n       // node.send({\"payload2\":\"clear gmapsLocations \"});\n        global.set(\"gmapsLocations\", null );  \n    }\n // otherwise check for removal of a defined (by 'title') marker\nelse if(msg.payload.command && msg.payload.command.removeMarker){\n    //node.send({\"payload3\":locations.markerData.length});\n  if (locations.markerData && locations.markerData.length>0) {\n     // node.send({\"payload4\":locations});\n    for (var i =  locations.markerData.length-1; i >=0 ; i-- ) {\n        //node.send({\"payload5\":locations});\n        if (locations.markerData[i].title === msg.payload.command.removeMarker) {\n            locations.markerData.splice(i,1);  // remove item \n            global.set(\"gmapsLocations\", locations); // update our application's list of markers\n    }\n   }\n  }\n }\n}\n\n\n    //node.send({\"payload6\":locations});\n    if (msg.payload.markerData){\n      locations = global.get(\"gmapsLocations\");\n      // get the new markers \n      for (var i = 0; i < msg.payload.markerData.length; i++ ) {\n        locations.markerData.push(msg.payload.markerData[i]); \n      }\n    // store the updated markers list\n    global.set(\"gmapsLocations\", locations);\n //  }\n    }\n\nreturn msg;\n\nfunction isEmpty(obj) {\n    for(var prop in obj) {\n        if(obj.hasOwnProperty(prop))\n            return false;\n    }\n return true;\n}","outputs":1,"noerr":0,"x":550,"y":320,"wires":[[]]},{"id":"c0c61472.edd2a8","type":"function","z":"c620247f.4f9d38","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nvar locations = global.get(\"gmapsLocations\");\nif ( typeof(locations) === \"undefined\" || locations === null){\n   //no stored markers in Node-Red application\n   msg.payload = {\"markerData\":[]};\n}\nelse {\n    // get stored markers\n    msg.payload= locations;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["bd59aa6a.79dfb8"]]},{"id":"4480607a.d64ce","type":"http response","z":"c620247f.4f9d38","name":"","statusCode":"","headers":{},"x":550,"y":240,"wires":[]},{"id":"378fe791.6bf148","type":"http in","z":"c620247f.4f9d38","name":"","url":"/map","method":"get","x":200,"y":240,"wires":[["8f6b164a.75f318"]]},{"id":"a298b9dd.3ee808","type":"comment","z":"c620247f.4f9d38","name":"Access To Google Maps","info":"","x":280.33333333333326,"y":93.33333333333334,"wires":[]},{"id":"8f6b164a.75f318","type":"template","z":"c620247f.4f9d38","name":"mapping","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head> \n  <title>Owntracks & Node-Red Live Map</title>\n  <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n  <script type=\"text/javascript\" src=\"http://maps.google.com/maps/api/js?key=AIzaSyAsGETDdXGAG_M5vqRCI2GsPjHzhUy3mis\"></script>\n  <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n \n  <style type=\"text/css\" media=\"screen\"> \n    #map {\n      position:absolute;\n      top: 0; bottom: 0; left: 0; right: 0;\n    }\n  </style>\n</head>\n<body>\n \n  <div id=\"map\"></div>\n  <script type=\"text/javascript\">\n\n  var url = window.location.hostname;\n  var socketaddy = \"ws://\" + url + \"/ws/location\";\n    var map;\n    var sock;\n    $(document).ready(function(){\n      // Centre map on Glasgow to start\n      map = new GMaps({\n        div: '#map',\n        lat: 55.866161,\n        lng: -4.25231\n      });\n      \n      map.setZoom(7);  // initial zoom\n      \n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){ console.log(\"Connected websocket\");\n\t      console.log(\"Sending ping..\");\n\t      sock.send(\"Ping!\");\n\t      console.log(\"Ping sent..\");\n      };\n      sock.onerror = function(){ console.log(\"Websocket error\"); };\n      sock.onmessage = function(evt){\n        var nodeRedRequest= JSON.parse(evt.data);\n        if (nodeRedRequest.command){\n            var command = nodeRedRequest.command;\n        }\n        // if there are markers in the request...\n        if (nodeRedRequest.markerData){ \n            var myMarkers = true;\n            var latlng = nodeRedRequest.markerData;\n           // if (nodeRedRequest.markerData[0].click)\n            //  nodeRedRequest.markerData[0].click = JSON.parse(nodeRedRequest.markerData[0].click);\n        }\n        /*  PB: ORIGINAL CODE\n        var array = $.map(latlng, function(el) {\n  \t\t\treturn [[el.lat, el.lng]];\n\t\t\t}); */\n        // map.removeMarkers();   // PB: NOW CONDITIONAL ON MY COMMAND OPTIONS\n        // map.removePolylines(); // PB: NOT USING THESE IN MY EXAMPLE\n        \n       \t// if there are commands in the request...\n        if (command) {\n            if (command.zoom)\n              map.setZoom(command.zoom);\n            if (command.removeMarkers)\n            // remove ALL markers\n              map.removeMarkers(); \n            // remove single marker by TITLE  \n            if (command.removeMarker) {\n                myRemoveMarker(map,command.removeMarker); \n            }\n            // Centre the map at lat,lng\n            if (command.centre)\n              map.setCenter(command.centre.lat, command.centre.lng);\n        }\n        if (myMarkers) {  // if we included markers in the request...\n          if (latlng.length >0 ) {\n            console.log(\"Got marker list (\"+latlng.length+\"), centering at \" + latlng[0].lat + \", \" + latlng[0].lng, latlng);\n            // if you want, set centre point at location of first marker    \n       \t    //map.setCenter(latlng[0].lat, latlng[0].lng); \n            map.addMarkers(latlng);\n            //var m = map.markers[1];\n            //map.removeMarker(m);\n\n          }\n        }\n      /*\t// PB: NOT USING IN MY EXAMPLE\n        map.drawPolyline({\n\t\t  path: array,\n\t\t  strokeColor: '#131540',\n\t\t  strokeOpacity: 0.6,\n\t\t  strokeWeight: 6\n\t\t});*/\n      }\n    });\n // remove a single marker     \n function myRemoveMarker(myMap, myMarkerTitle) {\n      var markers = myMap.markers;\n      var length = markers.length;\n      if (length > 0) {\n        //go from end of array downwards since the array size\n        //diminishes if elements are deleted!\n        for (var i = length-1; i>=0; i-- ) {\n            if (markers[i].title === myMarkerTitle ){\n                // will remove multiple entries for the same title (if present)\n                myMap.removeMarker(markers[i]);\n                var markers2=myMap.markers;\n            }\n        }\n      } \n }\n  </script>\n</body>\n</html>","output":"str","x":380,"y":240,"wires":[["4480607a.d64ce"]]},{"id":"2357a42e.b86c5c","type":"websocket in","z":"c620247f.4f9d38","name":"","server":"4f240019.f2ab3","client":"","x":240,"y":160,"wires":[["c0c61472.edd2a8"]]},{"id":"bd59aa6a.79dfb8","type":"websocket out","z":"c620247f.4f9d38","name":"","server":"4f240019.f2ab3","client":"","x":620,"y":160,"wires":[]},{"id":"4f240019.f2ab3","type":"websocket-listener","z":"c620247f.4f9d38","path":"/ws/location","wholemsg":"false"},{"id":"ba8e5797.b0cd38","type":"tab","label":"Google Map","disabled":false,"info":""},{"id":"2e3ff6cc.5463ba","type":"comment","z":"ba8e5797.b0cd38","name":"http://iot-siobhan.eu-gb.mybluemix.net/map ","info":"","x":520,"y":40,"wires":[]},{"id":"d14fa2b.22cb76","type":"function","z":"ba8e5797.b0cd38","name":"Add Camera 21","func":"var msg ={\"payload\":{\"command\":{\"zoom\":14},\n    \"markerData\":[{\"lat\":56.557875, \"lng\":-3.579324, \"title\":\"Camera 21\",\n        \"infoWindow\": {\"content\": \" \"}},\n        ],\n                   \n   \"latestVehicle\":  global.get(\"Latest_Vehicle\"),\n   \"VehicleCount\": global.get(\"Count_Vehicles\"),\n   \"NumVehicles\": global.get(\"Speeders_24hrs\"),\n   \"HiSpeedHr\" : global.get(\"HiSpeed_1hr\"),\n   \"HiSpeed24hrs\": global.get(\"HiSpeed_24hrs\")\n}};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["1dff6f54.33fbc1"]]},{"id":"6d5fb269.e479ec","type":"inject","z":"ba8e5797.b0cd38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":90,"y":120,"wires":[["d14fa2b.22cb76","c2bb8664.80e048"]]},{"id":"a4383030.435f9","type":"debug","z":"ba8e5797.b0cd38","name":"map debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":100,"wires":[]},{"id":"cecbfbdd.c13098","type":"debug","z":"ba8e5797.b0cd38","name":"infoWindow debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":200,"wires":[]},{"id":"1dff6f54.33fbc1","type":"template","z":"ba8e5797.b0cd38","name":"InfoWindow Content","field":"infoWindow","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n  <tr bgcolor=\"#AD187B\">\n    <th></th>\n    <th>Key Info</th>\n  </tr>\n  <tr>\n    <td bgcolor=\"#C673AB\"><strong>Latest Vehicle Info</strong></td>\n    <td>{{payload.latestVehicle}}</td>\n  </tr>\n   <tr>\n    <td bgcolor=\"#C673AB\"><strong>ALL vehicles in the last 24hrs</strong></td>\n    <td>{{payload.VehicleCount}}</td>\n  </tr>\n   <tr>\n    <td bgcolor=\"#C673AB\"><strong># of speeders in the last 24hrs</strong></td>\n    <td>{{payload.NumVehicles}}</td>\n  </tr>\n  <tr>\n    <td bgcolor=\"#C673AB\"><strong>Max Speed in the last hr</strong></td>\n    <td>{{payload.HiSpeedHr}}</td>\n  </tr>\n  <tr>\n    <td bgcolor=\"#C673AB\"><strong>Max Speed in the last 24hrs</strong></td>\n    <td>{{payload.HiSpeed24hrs}}</td>\n  </tr>\n</table>","x":480,"y":140,"wires":[["cecbfbdd.c13098","f1b9e0e9.18c52"]]},{"id":"c2bb8664.80e048","type":"function","z":"ba8e5797.b0cd38","name":"Add Camera 20","func":"\nvar msg ={\"payload\":{\n    \"command\":{\"zoom\":14},\n    \"markerData\":[  {   \"lat\":56.650406,\n                        \"lng\":-3.666647, \n                        \"title\":\"Camera 20\",\n                        \"icon\": \"http://maps.google.com/mapfiles/ms/micons/blue.png\"}\n                    ]}};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["f0e498c6.935d68"]]},{"id":"bb9e15f3.652228","type":"inject","z":"ba8e5797.b0cd38","name":"delete marker","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["c495a673.235a98"]]},{"id":"c495a673.235a98","type":"function","z":"ba8e5797.b0cd38","name":"remove markers","func":"var msg = {\"payload\":{\"command\":{\"removeMarkers\":true}}};\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["f0e498c6.935d68"]]},{"id":"f1b9e0e9.18c52","type":"function","z":"ba8e5797.b0cd38","name":"apply info","func":"msg.payload.markerData[0].infoWindow.content = msg.infoWindow;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["f0e498c6.935d68"]]},{"id":"f0e498c6.935d68","type":"subflow:c620247f.4f9d38","z":"ba8e5797.b0cd38","name":"Google Map","x":910,"y":140,"wires":[["a4383030.435f9"]]}]
