speed+slack
[{"id":"11eb8d4f.fe5353","type":"tab","label":"Speed Calc + Slack","disabled":false,"info":""},{"id":"7837653e.6486bc","type":"debug","z":"11eb8d4f.fe5353","name":"Speed Camera 21","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":80,"wires":[]},{"id":"db31f15b.b4173","type":"json","z":"11eb8d4f.fe5353","name":"","property":"payload","action":"","pretty":false,"x":110,"y":140,"wires":[["3a65aad4.cfd8e6"]]},{"id":"3a65aad4.cfd8e6","type":"delay","z":"11eb8d4f.fe5353","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"14","randomUnits":"seconds","drop":false,"x":120,"y":180,"wires":[["7837653e.6486bc","6cf253f8.0941dc"]]},{"id":"cf6d5720.e38058","type":"mqtt in","z":"11eb8d4f.fe5353","name":"","topic":"gcu/coursework2/camera/21","qos":"0","broker":"cfdd3f44.4cdb4","x":140,"y":80,"wires":[["db31f15b.b4173"]]},{"id":"cd779e43.3a5a9","type":"http request","z":"11eb8d4f.fe5353","name":"Speed Camera Database Request","method":"GET","ret":"obj","url":"https://73f0121a-9fa1-4359-b51a-d117d5e6d58e-bluemix.cloudant.com/speed_camera/{{{topic}}}","tls":"","x":380,"y":260,"wires":[["5a8e547c.185abc","c67c0091.fe8d5"]]},{"id":"5a8e547c.185abc","type":"debug","z":"11eb8d4f.fe5353","name":"Speed Camera 20","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":240,"wires":[]},{"id":"c67c0091.fe8d5","type":"function","z":"11eb8d4f.fe5353","name":"Calc Speed","func":"//calculates the avg speed from distance/time\n\nif ((msg.payload.rows).length > 0){\n    var time = ((((msg.Camera21Time - msg.payload.rows[0].fields.the_date_time_UTC_milliseconds)/1000)/60)/60);\n    \n    avgSpeed = Math.round(8.0/time,1);\n\nvar msgOut = {\"payload\": \n    {\"license_plate\":msg.license_plate, \"avg_speed\":avgSpeed, \"timestamp\":msg.Date_time_string, \"Camera21Time\": msg.Camera21Time}};\n\nreturn msgOut;\n}\n\n","outputs":1,"noerr":0,"x":650,"y":300,"wires":[["a36d3005.9427f","3b3a2435.ec0aec","679931ca.d912d","572c44e.70193bc","2dcf7255.d5a83e"]]},{"id":"6cf253f8.0941dc","type":"function","z":"11eb8d4f.fe5353","name":"Search Index","func":"// var camera_id = 20\n// var license = msg.payload.license_plate\n\n// var queryParts =\n// {\n//     \"path\": \"_design/app/_search/plate_search/?query=\",\n//     \"myQuery\": \"license_plate:\" + license + \"AND camera_id:\" + camera_id.toString(),\n//     \"option1\": \"&limit=1&sort=[\\\"-the_date_time_UTC_milliseconds\\\"]\"\n// };\n\n// var query = makeQuery(queryParts);\n// return {\"topic\": query, \"Camera21Time\": msg.payload.date_time_UTC_milliseconds, \"license_plate\": msg.payload.license_plate, \"Date_time_string\": msg.payload.date_time_string};\n\n// function makeQuery(queryParts){\n//     for (var key in queryParts){\n//          if (queryParts.hasOwnProperty(key)){\n//         query += queryParts[key];\n//     }\n//     }\n// }\n// return query;\n\n\n\n\n\n\n\nvar license_plate = msg.payload.license_plate;\nvar camera_id = 20; \n\n\n\nvar queryParts = \n  { \"path\": \"_design/app/_search/plate_search/?query=\",\n    \"my_query\": \"license_plate:\" + license_plate+ \" AND camera_id:\"+ camera_id.toString(), \n    \"my_option1\": \"&limit=1&sort=[\\\"-the_date_time_UTC_milliseconds\\\"]\"\n  };\n  \n\n\nvar theQuery = makeQuery(queryParts);\nreturn {\"topic\": theQuery, \"Camera21Time\": msg.payload.date_time_UTC_milliseconds, \"license_plate\": msg.payload.license_plate, \"Date_time_string\": msg.payload.date_time_string};\n/*---------------------------------------------------*/\n//Concatenate the values from a JSON object\nfunction makeQuery( queryParts){\nvar theQuery = \"\";\nfor (var key in queryParts) {\n  if (queryParts.hasOwnProperty(key)) {\n      theQuery += queryParts[key];\n  }\n }\n return theQuery;\n}\n\n","outputs":1,"noerr":0,"x":130,"y":240,"wires":[["cd779e43.3a5a9"]]},{"id":"a36d3005.9427f","type":"debug","z":"11eb8d4f.fe5353","name":"speed debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":360,"wires":[]},{"id":"2c1ad1f.ed40c2e","type":"comment","z":"11eb8d4f.fe5353","name":"Lat: 56.650406   Long: -3.666647","info":"","x":690,"y":200,"wires":[]},{"id":"3d079b95.3c27a4","type":"comment","z":"11eb8d4f.fe5353","name":"Lat: 56.557875  Long:  -3.579324","info":"","x":450,"y":40,"wires":[]},{"id":"a60ca4ba.489138","type":"cloudant out","z":"11eb8d4f.fe5353","name":"","cloudant":"","database":"vehicle-speed","service":"IoT-Siobhan-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1200,"y":140,"wires":[]},{"id":"3b3a2435.ec0aec","type":"delay","z":"11eb8d4f.fe5353","name":"Limit Db transaction rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":140,"wires":[["a60ca4ba.489138"]]},{"id":"679931ca.d912d","type":"switch","z":"11eb8d4f.fe5353","name":"Speeding Switch","property":"payload.avg_speed","propertyType":"msg","rules":[{"t":"gte","v":"71","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":400,"wires":[["6aaf0bbd.226684"]]},{"id":"ec82c3b3.abc63","type":"delay","z":"11eb8d4f.fe5353","name":"limit 8 msg/m","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"8","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":360,"wires":[["5d807d85.d45244"]]},{"id":"cc1b464f.21bab8","type":"comment","z":"11eb8d4f.fe5353","name":"slack integration","info":"","x":1320,"y":320,"wires":[]},{"id":"d86d91ff.e824c","type":"comment","z":"11eb8d4f.fe5353","name":"db connection","info":"","x":1030,"y":100,"wires":[]},{"id":"60653ebb.1c4d4","type":"comment","z":"11eb8d4f.fe5353","name":"speed cam db ","info":"","x":310,"y":220,"wires":[]},{"id":"6aaf0bbd.226684","type":"function","z":"11eb8d4f.fe5353","name":"Add description","func":"var speeding = (msg.payload.avg_speed + \" MPH, SPEEDING!!\").toString();\n\nvar msgOut = {\"payload\": speeding};\nreturn msgOut;","outputs":1,"noerr":0,"x":1080,"y":380,"wires":[["ec82c3b3.abc63","56d6abe3.570854"]]},{"id":"2dcf7255.d5a83e","type":"function","z":"11eb8d4f.fe5353","name":"Speeder Warning","func":"if (msg.payload.avg_speed> 71){\n     msg.payload = (\"!WARNING! A vehicle has exceeded the speed limit!\");\n     msg.color = (msg.payload)?'red':'red';\n}\nelse \n  msg.payload = \"Speed within limit\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":300,"wires":[["9b5f896b.079098"]]},{"id":"ffcfb262.63291","type":"comment","z":"11eb8d4f.fe5353","name":"UI Info","info":"","x":1150,"y":240,"wires":[]},{"id":"56d6abe3.570854","type":"debug","z":"11eb8d4f.fe5353","name":"pre-slack debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1200,"y":440,"wires":[]},{"id":"9b5f896b.079098","type":"ui_text","z":"11eb8d4f.fe5353","group":"4bfb043.d3fdcfc","order":2,"width":0,"height":0,"name":"Speeder Status","label":"","format":"<font color='{{msg.color}}'>{{msg.payload}}</font>","layout":"row-center","x":1100,"y":280,"wires":[]},{"id":"572c44e.70193bc","type":"ui_gauge","z":"11eb8d4f.fe5353","name":"","group":"4bfb043.d3fdcfc","order":0,"width":0,"height":0,"gtype":"gage","title":"Current Speed","label":"MPH","format":"{{msg.payload.avg_speed}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":240,"wires":[]},{"id":"5d807d85.d45244","type":"slack","z":"11eb8d4f.fe5353","name":"","channelURL":"https://hooks.slack.com/services/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","username":"speedNotification","emojiIcon":":exclamation:","channel":"","x":1370,"y":400,"wires":[]},{"id":"cfdd3f44.4cdb4","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4bfb043.d3fdcfc","type":"ui_group","z":0,"name":"Current Speed Status","tab":"8431f181.9f6f2","disp":true,"width":"5","collapse":false},{"id":"8431f181.9f6f2","type":"ui_tab","z":0,"name":"Coursework","icon":"dashboard"}]
