ui display.txt
[{"id":"5e966b23.e961f4","type":"function","z":"93c4934a.8dac1","name":"Latest Vehicle","func":"var msg = {};\nmsg.headers = {\n   \"Accept\": \"application/json\", \n   \"Content-Type\": \"application/json\" \n};\n\nmsg.topic=\"_design/IoTCW/_view/latestVehicle?limit=1&descending=true\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":120,"wires":[["933feb74.d80e28"]]},{"id":"933feb74.d80e28","type":"http request","z":"93c4934a.8dac1","name":"Get Latest","method":"GET","ret":"obj","url":"https://016d1216-7ead-4501-94de-db3306821412-bluemix.cloudant.com/vehicle-speed/{{{topic}}}","tls":"","x":470,"y":120,"wires":[["a4e472e8.6db66"]]},{"id":"a4e472e8.6db66","type":"function","z":"93c4934a.8dac1","name":"apply global value","func":"var msg2 = {\"payload\":{}};\nvar str = \"\";\nvar length = msg.payload.rows.length;\nvar key; \nfor(i=0; i<length; ++i){\n    if (msg.payload.rows[i].key !==null)\n       key = msg.payload.rows[i].key + \" : \";\n    else\n      key = \"\";\n    \n    str += key + msg.payload.rows[i].value+\"\";\n    global.set(\"Latest_Vehicle\", str);\n    if(i<length-1)\n    str += \" | \";\n}\nmsg2.payload = str;\nreturn msg2;","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["c005391f.c882c8","5d55ee48.ac3a1"]]},{"id":"cf27df9d.49209","type":"inject","z":"93c4934a.8dac1","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":80,"wires":[["5e966b23.e961f4"]]},{"id":"c94474c.abaef88","type":"function","z":"93c4934a.8dac1","name":"Count ALL","func":"var msg = {};\nmsg.headers = {\n   \"Accept\": \"application/json\", \n   \"Content-Type\": \"application/json\" \n};\n\nmsg.topic=\"_design/IoTCW/_view/vehicleCount?limit=1&descending=true\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["56a2d66a.52ce58"]]},{"id":"56a2d66a.52ce58","type":"http request","z":"93c4934a.8dac1","name":"Get Count","method":"GET","ret":"obj","url":"https://016d1216-7ead-4501-94de-db3306821412-bluemix.cloudant.com/vehicle-speed/{{{topic}}}","tls":"","x":470,"y":200,"wires":[["8ce00d89.26e14"]]},{"id":"8ce00d89.26e14","type":"function","z":"93c4934a.8dac1","name":"apply global value","func":"var msg2 = {\"payload\":{}};\nvar str = \"\";\nvar length = msg.payload.rows.length;\nvar key; \nfor(i=0; i<length; ++i){\n    if (msg.payload.rows[i].key !==null)\n       key = msg.payload.rows[i].key + \" : \";\n    else\n      key = \"\";\n    \n    str += key + msg.payload.rows[i].value+\"\";\n    global.set(\"Count_Vehicles\", str);\n    if(i<length-1)\n    str += \" | \";\n}\nmsg2.payload = str;\nreturn msg2;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["2c09a26.443dc5e","d16bc93d.370638"]]},{"id":"cd51ef30.06a7c","type":"inject","z":"93c4934a.8dac1","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":160,"wires":[["c94474c.abaef88"]]},{"id":"8303b947.a1f878","type":"function","z":"93c4934a.8dac1","name":"Avg Speed 24 hrs","func":"var msg = {};\nmsg.headers = {\n   \"Accept\": \"application/json\", \n   \"Content-Type\": \"application/json\" \n};\n\nmsg.topic=\"_design/IoTCW/_view/avgSpeed24?limit=1&descending=true\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["ac665411.910098"]]},{"id":"ac665411.910098","type":"http request","z":"93c4934a.8dac1","name":"Get Avg 24","method":"GET","ret":"obj","url":"https://016d1216-7ead-4501-94de-db3306821412-bluemix.cloudant.com/vehicle-speed/{{{topic}}}","tls":"","x":470,"y":300,"wires":[["468a1485.de24fc"]]},{"id":"cc04160f.8524e8","type":"inject","z":"93c4934a.8dac1","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":240,"wires":[["8303b947.a1f878"]]},{"id":"d7a33d0b.b064e","type":"function","z":"93c4934a.8dac1","name":"Avg Speed 3 Days","func":"var msg = {};\nmsg.headers = {\n   \"Accept\": \"application/json\", \n   \"Content-Type\": \"application/json\" \n};\n\nmsg.topic=\"_design/IoTCW/_view/avgSpeed3Days?limit=1&descending=true\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":380,"wires":[["e43cfd94.2bf05"]]},{"id":"e43cfd94.2bf05","type":"http request","z":"93c4934a.8dac1","name":"Get Avg 3Days","method":"GET","ret":"obj","url":"https://016d1216-7ead-4501-94de-db3306821412-bluemix.cloudant.com/vehicle-speed/{{{topic}}}","tls":"","x":460,"y":380,"wires":[["79d14b55.e54804"]]},{"id":"3873d236.83a24e","type":"inject","z":"93c4934a.8dac1","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":340,"wires":[["d7a33d0b.b064e"]]},{"id":"3d7be28e.25ff4e","type":"function","z":"93c4934a.8dac1","name":"Highest Speed 24 hrs","func":"var msg = {};\nmsg.headers = {\n   \"Accept\": \"application/json\", \n   \"Content-Type\": \"application/json\" \n};\n\nmsg.topic=\"_design/IoTCW/_view/highestSpeed24?limit=1&descending=true\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":460,"wires":[["f3b4629f.24637"]]},{"id":"f3b4629f.24637","type":"http request","z":"93c4934a.8dac1","name":"Get Highest 24hr","method":"GET","ret":"obj","url":"https://016d1216-7ead-4501-94de-db3306821412-bluemix.cloudant.com/vehicle-speed/{{{topic}}}","tls":"","x":490,"y":460,"wires":[["57efa0c9.17b07"]]},{"id":"57efa0c9.17b07","type":"function","z":"93c4934a.8dac1","name":"apply global value","func":"var msg2 = {\"payload\":{}};\nvar str = \"\";\nvar length = msg.payload.rows.length;\nvar key; \nfor(i=0; i<length; ++i){\n    if (msg.payload.rows[i].key !==null)\n       key = msg.payload.rows[i].key + \" : \";\n    else\n      key = \"\";\n    \n    str += key + msg.payload.rows[i].value+\"\";\n    global.set(\"HiSpeed_24hrs\", str);\n    if(i<length-1)\n    str += \" | \";\n}\nmsg2.payload = str;\nreturn msg2;","outputs":1,"noerr":0,"x":690,"y":460,"wires":[["bec285b9.9fb118","5fd15f0e.c34fa"]]},{"id":"845012c0.27e15","type":"inject","z":"93c4934a.8dac1","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":420,"wires":[["3d7be28e.25ff4e"]]},{"id":"a2b75e30.34a56","type":"function","z":"93c4934a.8dac1","name":"Highest Speed Previous Hour","func":"var msg = {};\nmsg.headers = {\n   \"Accept\": \"application/json\", \n   \"Content-Type\": \"application/json\" \n};\n\nmsg.topic=\"_design/IoTCW/_view/highestSpeedHr?limit=1&descending=true\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["78dd38b5.104a78"]]},{"id":"78dd38b5.104a78","type":"http request","z":"93c4934a.8dac1","name":"Get Highest 1hr","method":"GET","ret":"obj","url":"https://016d1216-7ead-4501-94de-db3306821412-bluemix.cloudant.com/vehicle-speed/{{{topic}}}","tls":"","x":500,"y":540,"wires":[["a290baa0.669328"]]},{"id":"a290baa0.669328","type":"function","z":"93c4934a.8dac1","name":"apply global value","func":"var msg2 = {\"payload\":{}};\nvar str = \"\";\nvar length = msg.payload.rows.length;\nvar key; \nfor(i=0; i<length; ++i){\n    if (msg.payload.rows[i].key !==null)\n       key = msg.payload.rows[i].key + \" : \";\n    else\n      key = \"\";\n    \n    str += key + msg.payload.rows[i].value+\"\";\n    global.set(\"HiSpeed_1hr\", str);\n    if(i<length-1)\n    str += \" | \";\n}\nmsg2.payload = str;\nreturn msg2;","outputs":1,"noerr":0,"x":690,"y":540,"wires":[["284ab42f.6c10ac","ccfda900.2fa588"]]},{"id":"c4909f80.2d7","type":"inject","z":"93c4934a.8dac1","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":500,"wires":[["a2b75e30.34a56"]]},{"id":"443154b6.d912bc","type":"function","z":"93c4934a.8dac1","name":"Speeders in last 24 hrs","func":"var msg = {};\nmsg.headers = {\n   \"Accept\": \"application/json\", \n   \"Content-Type\": \"application/json\" \n};\n\nmsg.topic=\"_design/IoTCW/_view/speeders24?limit=1&descending=true\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":620,"wires":[["4f1eaca6.336dc4"]]},{"id":"4f1eaca6.336dc4","type":"http request","z":"93c4934a.8dac1","name":"Get Speeders 24hr","method":"GET","ret":"obj","url":"https://016d1216-7ead-4501-94de-db3306821412-bluemix.cloudant.com/vehicle-speed/{{{topic}}}","tls":"","x":490,"y":620,"wires":[["d069bfaf.2e9f6"]]},{"id":"d069bfaf.2e9f6","type":"function","z":"93c4934a.8dac1","name":"apply global value","func":"var msg2 = {\"payload\":{}};\nvar str = \"\";\nvar length = msg.payload.rows.length;\nvar key; \nfor(i=0; i<length; ++i){\n    if (msg.payload.rows[i].key !==null)\n       key = msg.payload.rows[i].key + \" : \";\n    else\n      key = \"\";\n    \n    str += key + msg.payload.rows[i].value+\"\";\n    global.set(\"Speeders_24hrs\", str);\n    if(i<length-1)\n    str += \" | \";\n}\nmsg2.payload = str;\nreturn msg2;","outputs":1,"noerr":0,"x":690,"y":620,"wires":[["abcd69df.b4ad18","f3d2067.24b3ef8"]]},{"id":"7bde734.038148c","type":"inject","z":"93c4934a.8dac1","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":580,"wires":[["443154b6.d912bc"]]},{"id":"aebde6ea.53d0a8","type":"comment","z":"93c4934a.8dac1","name":"UI Info Display","info":"","x":480,"y":40,"wires":[]},{"id":"468a1485.de24fc","type":"function","z":"93c4934a.8dac1","name":"Calc Avg","func":"var avgSpeed = (msg.payload.rows[0].value.sum/msg.payload.rows[0].value.count);\nvar avgString = \"\";\n\nmsg.payload = avgSpeed.toPrecision(3);\nvar msg2 = {\"payload\":{\n    \"avgSpeed\": msg.payload,}\n};\n\nreturn msg2;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["dbccd9cf.eb8e48","5bba2e1c.b3edd"]]},{"id":"5bba2e1c.b3edd","type":"debug","z":"93c4934a.8dac1","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":260,"wires":[]},{"id":"79d14b55.e54804","type":"function","z":"93c4934a.8dac1","name":"Calc Avg","func":"var avgSpeed = (msg.payload.rows[0].value.sum/msg.payload.rows[0].value.count);\nvar avgString = \"\";\n\nmsg.payload = avgSpeed.toPrecision(3);\nvar msg2 = {\"payload\":{\n    \"avgSpeed\": msg.payload,}\n};\n\n\n\nreturn msg2;","outputs":1,"noerr":0,"x":620,"y":380,"wires":[["416db9a7.62f908","ed6e30b2.60034"]]},{"id":"5d55ee48.ac3a1","type":"debug","z":"93c4934a.8dac1","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":80,"wires":[]},{"id":"d16bc93d.370638","type":"debug","z":"93c4934a.8dac1","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":160,"wires":[]},{"id":"5fd15f0e.c34fa","type":"debug","z":"93c4934a.8dac1","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":420,"wires":[]},{"id":"ed6e30b2.60034","type":"debug","z":"93c4934a.8dac1","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":340,"wires":[]},{"id":"ccfda900.2fa588","type":"debug","z":"93c4934a.8dac1","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":500,"wires":[]},{"id":"f3d2067.24b3ef8","type":"debug","z":"93c4934a.8dac1","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":892.857177734375,"y":581.4285888671875,"wires":[]},{"id":"9fee9ad9.77df98","type":"ui_button","z":"93c4934a.8dac1","name":"Refresh Info","group":"1f36ba7a.339e06","order":0,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"date","topic":"","x":70,"y":40,"wires":[["5e966b23.e961f4","c94474c.abaef88","8303b947.a1f878","d7a33d0b.b064e","3d7be28e.25ff4e","a2b75e30.34a56","443154b6.d912bc"]]},{"id":"c005391f.c882c8","type":"ui_text","z":"93c4934a.8dac1","group":"1f36ba7a.339e06","order":0,"width":"0","height":"0","name":"","label":"Latest Vehicle Details:","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":120,"wires":[]},{"id":"2c09a26.443dc5e","type":"ui_text","z":"93c4934a.8dac1","group":"1f36ba7a.339e06","order":0,"width":"0","height":"0","name":"","label":"Vehicle Count:","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":200,"wires":[]},{"id":"dbccd9cf.eb8e48","type":"ui_text","z":"93c4934a.8dac1","group":"1f36ba7a.339e06","order":0,"width":"0","height":"0","name":"","label":"Avg Speed in the last 24hrs:","format":"{{msg.payload.avgSpeed}}","layout":"row-spread","x":940,"y":300,"wires":[]},{"id":"416db9a7.62f908","type":"ui_text","z":"93c4934a.8dac1","group":"1f36ba7a.339e06","order":0,"width":"0","height":"0","name":"","label":"Avg Speed in the last 3 Days:","format":"{{msg.payload.avgSpeed}}","layout":"row-spread","x":940,"y":380,"wires":[]},{"id":"bec285b9.9fb118","type":"ui_text","z":"93c4934a.8dac1","group":"1f36ba7a.339e06","order":0,"width":"0","height":"0","name":"","label":"Highest Speed in the last 24hrs:","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":460,"wires":[]},{"id":"284ab42f.6c10ac","type":"ui_text","z":"93c4934a.8dac1","group":"1f36ba7a.339e06","order":0,"width":"0","height":"0","name":"","label":"Highest Speed in the last hr:","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":540,"wires":[]},{"id":"abcd69df.b4ad18","type":"ui_text","z":"93c4934a.8dac1","group":"1f36ba7a.339e06","order":0,"width":"0","height":"0","name":"","label":"# of Speeders in the last 24hrs:","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":620,"wires":[]},{"id":"1f36ba7a.339e06","type":"ui_group","z":0,"name":"UI Info","tab":"8431f181.9f6f2","disp":true,"width":"6","collapse":false},{"id":"8431f181.9f6f2","type":"ui_tab","z":0,"name":"Coursework","icon":"dashboard"}]
