watson.txt
[{"id":"ca4d5761.436fd8","type":"watson-conversation-v1","z":"904d3efd.a0703","name":"","workspaceid":"adfb16e6-8068-45e3-bd74-e3e0f73f0a54","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":790,"y":120,"wires":[["128f7041.aaa5f"]]},{"id":"55253b79.ca6744","type":"function","z":"904d3efd.a0703","name":"Setup URL","func":"if (msg.payload) \n  { flow.set (\"weather_location\", msg.payload)}\n  return msg;\n  ","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["c32046e7.1dbeb8"]]},{"id":"8ade4dae.d5943","type":"inject","z":"904d3efd.a0703","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["715dba75.7ed404"]]},{"id":"a030e61d.128038","type":"function","z":"904d3efd.a0703","name":"latest vehicle","func":"\nvar msg = {};\n\nlatest_vehicle = global.get(\"Latest_Vehicle\");\n\nmsgout = {\"payload\":latest_vehicle + \" miles per hour \" + \"is \" + \n\"the latest\" + \" number plate \" + \"and\" + \n\" average speed \" + \"in the system\"};\n\nreturn msgout\n\n","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["4ce413ad.1c03fc"]]},{"id":"9c22bc30.b85af","type":"debug","z":"904d3efd.a0703","name":"TTS Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":280,"wires":[]},{"id":"4ce413ad.1c03fc","type":"watson-text-to-speech","z":"904d3efd.a0703","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"JZZ3Oa26OR4s","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":800,"y":320,"wires":[["9c22bc30.b85af","615c5c68.6b69e4"]]},{"id":"128f7041.aaa5f","type":"function","z":"904d3efd.a0703","name":"extract response context","func":"\nflow.set('conversationContext',msg.payload.context );\nmsg2={\"payload\":msg.payload.output.text[0]};\n\nreturn msg2;","outputs":1,"noerr":0,"x":190,"y":200,"wires":[["edf251ac.e34da","9a50657e.725b08"]]},{"id":"edf251ac.e34da","type":"function","z":"904d3efd.a0703","name":"split responses","func":"var msgout = {};\n\nmsg.payload = JSON.parse(msg.payload);\nvar msgdebug = msg;\nnode.send([null,null,msgdebug]);  // use third output for any debug messages\n   \n//JSON Messages have two properties:  'speak' and 'do'    \nif (msg.payload.speak){  // text messages to be sent to Command Node to transcribe into spoken audio\n    msgout={\"payload\":msg.payload.speak}; \n    node.send([msgout,null,null]);\n}\n\n\nif (msg.payload.do){ // Commands to be taken of in the subsequent nodes\n   msgout = {\"do\":msg.payload.do, \"ID\": msg.payload.ID};\n   node.send([null,msgout,null]);\n}\n\nreturn;\n\n","outputs":2,"noerr":0,"x":160,"y":260,"wires":[["b8433be0.7c0748"],["2b4c449f.abda6c"]]},{"id":"2b4c449f.abda6c","type":"switch","z":"904d3efd.a0703","name":"","property":"do","propertyType":"msg","rules":[{"t":"eq","v":"latest vehicle","vt":"str"},{"t":"eq","v":"speeder count","vt":"str"},{"t":"eq","v":"vehicle count","vt":"str"},{"t":"eq","v":"high speed hour","vt":"str"},{"t":"eq","v":"high speed day","vt":"str"},{"t":"eq","v":"average speed day","vt":"str"},{"t":"eq","v":"average speed 3 days","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":330,"y":360,"wires":[["a030e61d.128038"],["a2fa8ddb.8af13"],["fabd7f8a.ef90f"],["3b69179d.a81a78"],["4530470b.40f6d8"],["490d5a74.fefca4"],["9a17d5fa.61a448"]]},{"id":"fabd7f8a.ef90f","type":"function","z":"904d3efd.a0703","name":"vehicle count","func":"\nvar msg = {};\n\nCountLastHour = global.get(\"Count_all_last1hr\");\nmsgout = {\"payload\":\"in the last \"+\" hour \"+\"the system\"+\" registered \"+CountLastHour+\" vehicles \"};\n\nreturn msgout\n\n","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["4ce413ad.1c03fc"]]},{"id":"a2fa8ddb.8af13","type":"function","z":"904d3efd.a0703","name":"speeder count","func":"\nvar msg = {};\n\nexceedSpeedLimit = global.get(\"exceeding_speed_last24\");\nmsgout = {\"payload\":exceedSpeedLimit +\" vehicles \"+\" exceeded \"+\"the speed\"+\" limit \"+\" in the\"+\" last \"+\"24 hours\"};\n\nreturn msgout\n\n","outputs":1,"noerr":0,"x":560,"y":360,"wires":[["4ce413ad.1c03fc"]]},{"id":"b8433be0.7c0748","type":"debug","z":"904d3efd.a0703","name":"debug responses","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":260,"wires":[]},{"id":"490d5a74.fefca4","type":"function","z":"904d3efd.a0703","name":"average speed day","func":"\nvar msg = {};\n\naverageSpeed = global.get(\"AverageSpeed_last24\");\nmsgout = {\"payload\":\"The average \"+\" speed \"+\"in the last\"+\" 24 hours \"+ \" is \"+averageSpeed+\" miles per hour \"};\n\nreturn msgout\n\n","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["4ce413ad.1c03fc"]]},{"id":"3b69179d.a81a78","type":"function","z":"904d3efd.a0703","name":"high speed hour","func":"\nvar msg = {};\n\nHighestSpeed = global.get(\"HighestSpeed_lastHour\");\nmsgout = {\"payload\":\" The highest \"+\" speed \"+\"in the\"+\" last hour \"+\" is \"+HighestSpeed+\" miles per hour \"};\n\nreturn msgout;\n\n","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["4ce413ad.1c03fc"]]},{"id":"4530470b.40f6d8","type":"function","z":"904d3efd.a0703","name":"high speed day","func":"\nvar msg = {};\n\naverageSpeed = global.get(\"AverageSpeed_last24\");\nmsgout = {\"payload\":\"The average \"+\" speed \"+\"in the last\"+\" 24 hours \"+ \" is \"+averageSpeed+\" miles per hour \"};\n\nreturn msgout\n\n","outputs":1,"noerr":0,"x":560,"y":480,"wires":[[]]},{"id":"9a17d5fa.61a448","type":"function","z":"904d3efd.a0703","name":"average speed 3 days","func":"\nvar msg = {};\n\naverageSpeed = global.get(\"AverageSpeed_last24\");\nmsgout = {\"payload\":\"The average \"+\" speed \"+\"in the last\"+\" 24 hours \"+ \" is \"+averageSpeed+\" miles per hour \"};\n\nreturn msgout\n\n","outputs":1,"noerr":0,"x":580,"y":560,"wires":[[]]},{"id":"faa797a0.a79ff8","type":"ui_button","z":"904d3efd.a0703","name":"Clear text","group":"1587be59.64e7d2","order":0,"width":"2","height":"1","passthru":false,"label":"Clear","color":"","bgcolor":"#404040","icon":"","payload":"  ","payloadType":"str","topic":"","x":140,"y":120,"wires":[["715dba75.7ed404"]]},{"id":"715dba75.7ed404","type":"ui_text_input","z":"904d3efd.a0703","name":"","label":"Key Information","group":"1587be59.64e7d2","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":320,"y":80,"wires":[["55253b79.ca6744"]]},{"id":"615c5c68.6b69e4","type":"ui_audio","z":"904d3efd.a0703","name":"","group":"1587be59.64e7d2","voice":"en-US","always":"","x":1020,"y":320,"wires":[]},{"id":"c32046e7.1dbeb8","type":"function","z":"904d3efd.a0703","name":"get context ","func":"var context = flow.get(\"conversationContext\") || {};\nmsg2={\"payload\": msg.payload, \"params\":{\"workspace_id\": \"adfb16e6-8068-45e3-bd74-e3e0f73f0a54\", \"context\":context}};\nreturn msg2;","outputs":1,"noerr":0,"x":650,"y":80,"wires":[["ca4d5761.436fd8","65d5f8c0.f796a8"]]},{"id":"65d5f8c0.f796a8","type":"debug","z":"904d3efd.a0703","name":"context debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":40,"wires":[]},{"id":"9a50657e.725b08","type":"debug","z":"904d3efd.a0703","name":"context response debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","x":490,"y":180,"wires":[]},{"id":"1587be59.64e7d2","type":"ui_group","z":0,"name":"Watson","tab":"8431f181.9f6f2","disp":true,"width":"6","collapse":false},{"id":"8431f181.9f6f2","type":"ui_tab","z":0,"name":"Coursework","icon":"dashboard"}]
